@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
  color: black;
}
input{
  background-color:white;
}
input[type="text"], input[type="number"]{
  @apply px-3 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:border-blue-600;
}
.welcome-message{
  @apply text-lg md:text-xl font-medium
}
.btn-primary {
  @apply box-border inline-block bg-blue-900 text-white py-1  px-2 border-2 border-blue-900 hover:bg-white hover:text-black;
}
.btn-secondary {
  @apply box-border border-2 border-blue-900 py-1 px-2 hover:bg-blue-900 hover:text-white;
}
.btn-red {
  @apply box-border border-2 border-red-600 py-1 px-2 hover:bg-red-500 hover:text-white;
}
.active-link {
  @apply bg-blue-600 shadow-md rounded-md;
}
.modal-overlay {
  @apply w-[100vw] h-[100vh] bg-black bg-opacity-75 fixed top-0 left-0 flex justify-center items-center;
}
.modal {
  @apply p-[1.75rem] bg-white rounded-md md:w-[300px] min-w-[200px];
}
.bg-theme {
  @apply bg-gray-200 min-h-[95vh];
}
/* PROFILE PAGE STYLES */
.profile-link{
  @apply cursor-pointer bg-white  py-3 px-2 border-b-2 border-gray-200
}